<p id="notice"><%= notice %></p>
<div id="lab">

  <h1>希望研究室情報</h1>
  <hr>

  <div class="lab_list">
    <div class="row">
      <% @labs.each do |lab| %>
      <div class="col-md-4 col-xs-6">
        <div class="lab_detail">
        <h2><%= lab.name %>研究室</h2>
        <h3>配属人数: <%= lab.cap %></h3>
        <p><%= lab.info %></p>
        <table>
          <tr>
            <td>名前(匿名)</td>
            <td>第2希望</td>
            <td>順位</td>
          </tr>
          <% @students.each do |student| %>
          <% if student.first == lab.id %>
          <tr>
            <th>
              <%= student.name  %>
            </th>
            <th>
              <% if student.second==nil%>未指定<%else%><%= Lab.find(student.second).name %>研究室<%end%>
            </th>
            <th>
              <%= student.rank  %>
            </th>
          </th>
          <% end %>
          <% end %>
        </table>
        <%if current_user.id == 1%>
        <%= link_to 'Show', lab %>
        <%= link_to 'Edit', edit_lab_path(lab) %>
        <%= link_to 'Destroy', lab, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>
      </div>
      </div>
      <% end %>
    </div>
  </div>
  <br>

  <%= link_to 'New Lab', new_lab_path %>

</div>
