<p id="notice"><%= notice %></p>
<div id="lab">

  <h1>希望研究室情報</h1>
  <hr>

  <div class="lab_list">
    <div class="row">
      <% @labs.each do |lab| %>
      <div class="col-md-4 col-xs-6">
        <div class="lab_detail">
          <h2><%= lab.name %>研究室</h2>
          <h3>配属人数: <%= lab.cap %></h3>
          <p><%= lab.info %></p>
          <table>
            <tr>
              <th>名前(匿名)</th>
              <th class="second">第2希望</th>
              <th>順位</th>
            </tr>
            <% @num = 0 %>
            <% @students.each do |student| %>
            <% if student.first == lab.id %>
            <% @num += 1 %>
            <tr>
              <td>
                <% if @num > lab.cap %>
                <div class="colored">
                  <% end %>
                  <%= student.name  %>
                  <% if @num > lab.cap %>
                </div>
                <% end %>
              </td>
              <td>
                <% if student.second==nil%>未指定<%else%><%= Lab.find(student.second).name %>研究室<%end%>
              </td>
              <td>
                <%= student.rank  %>
              </td>
            </td>
            <% end %>
            <% end %>
            <% if @num == 0 %>
            <tr>
              <td>なし</td>
            </tr>
            <% end %>
          </table>
          <%if current_user.id == 1%>
          <%= link_to 'Show', lab %>
          <%= link_to 'Edit', edit_lab_path(lab) %>
          <%= link_to 'Destroy', lab, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%end%>
        </div>
      </div>
      <% end %>
    </div>
    <hr>
    <div class="row">
      <h2>協力者(表示順番と順位/登録順等との関係なし)</h2>
      <div class="code_list">
        <h4>計<%= @codes.length %>名</h4>
        <% @codes.each do |student| %>
        <div class="col-md-2 col-xs-3">
          <%= student.code %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <%if current_user.id == 1%>
  <%= link_to 'New Lab', new_lab_path %>
  <% end %>
</div>
