<!DOCTYPE html>
<html>
<head>
  <title>埼大[情シス] 希望研究室</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header_nav">
    <% if user_signed_in? %>
    <%= link_to 'プロフィール変更', edit_user_registration_path %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to '登録', new_user_registration_path %>
    <%= link_to 'ログイン', new_user_session_path %>
    <% end %>
  </div>
  <div class="notice"><%= notice %></div>
  <div class="alert"><%= alert %></div>
  <%= yield %>
</body>
</html>
